{{ define "teams.card" }}
{
  "type":"message",
  "attachments":[
  {
      "contentType":"application/vnd.microsoft.card.adaptive",
      "contentUrl":null,
      "content":{
        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
        "type": "AdaptiveCard",
        "version": "1.2",
        "backgroundImage": {
            {{- $color := "808080" }}
            {{- if eq .Status "resolved" -}}2DC72D
            {{- else if eq .Status "firing" -}}
              {{- if eq .CommonLabels.severity "critical" -}}
              {{- $color = "8C1A1A" }}
              {{- else if eq .CommonLabels.severity "warning" -}}
              {{- $color = "FFA500" }}
              {{- end -}}
            {{- end -}}
            "url": "https://singlecolorimage.com/get/{{- $color -}}/10x4",
            "fillMode": "RepeatHorizontally"
        },
        "body": [
            {
              "type": "TextBlock",
              "text": "Prometheus Alert ({{ .Status | title }})",
              "weight": "bolder",
              "size": "medium"
            },
            {
              "type": "TextBlock",
              "text": "{{- if eq .CommonAnnotations.summary "" -}}
              {{- if eq .CommonAnnotations.message "" -}}
                {{- if eq .CommonLabels.alertname "" -}}
                  Prometheus Alert
                {{- else -}}
                  {{- .CommonLabels.alertname -}}
                {{- end -}}
              {{- else -}}
                {{- .CommonAnnotations.message -}}
              {{- end -}}
          {{- else -}}
              {{- .CommonAnnotations.summary -}}
          {{- end -}}",
              "wrap": true
            },
            {{$externalUrl := .ExternalURL}}
            {{- range $index, $alert := .Alerts }}{{- if $index }},{{- end }}
            {
              "type": "TextBlock",
              "text": "[{{ $alert.Annotations.description }}]({{ $externalUrl }})",
              "wrap": true
            },
            {
              "type": "FactSet",
              "facts": [
                {{- range $key, $value := $alert.Annotations }}
                {
                  {{- if ne $key "description" -}}
                    "title": "{{ $key }}",
                    "value": "{{ $value }}"
                  {{- end -}}
                },
                {{- end -}}
                {{$c := counter}}{{ range $key, $value := $alert.Labels }}{{if call $c}},{{ end }}
                {
                  "title": "{{ $key }}",
                  "value": "{{ $value }}"
                }
                {{- end }}
              ]
            }
          {{- end }}
        ]
      }
  }]
}
{{ end }}
