name: 'Close stale issues and PRs'
on:
  schedule:
    - cron: '30 1 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v7
        with:
          any-of-labels: 'needs-more-info'
          # You can opt for 'only-labels' instead if your use-case requires all labels
          # to be present in the issue/PR
